body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(https://cbsnews2.cbsistatic.com/hub/i/r/2019/06/25/73fe7bdf-bbae-4a9f-ac4b-4f063e635462/thumbnail/1200x630/0a4222a88859e8809dc78d2971a69d38/falcon-heavy-night-launch.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #e2dbdb;
}

.btn-primary {
	border-radius: 100px;
	background-color: #F05F44;
	border-color: #F05F44;
}

.btn-primary:hover {
	background-color: #a83e2a;
	border-color: #a83e2a;
	border-width: 3px;
}

.btn-xl {
	padding: 1rem 2rem;
}

.buffer {
	height: 50px;
}